body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: 0;
}

button {
    background-color: #007BFF;
    color: #FFF;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#outputBox {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.restaurant-image {
    max-width: 100%; /* Adjust this value as needed */
    max-height: 70%;
    height: auto; /* Maintain aspect ratio */
}

.scrollable-container {
    max-height: 400px; /* Adjust the maximum height as needed */
    overflow-y: auto;
}